<h2>Write to Us</h2>

<form
    class="wpcf7-form generic-form init"
    action="#"
    method="post"
    novalidate="novalidate"
    data-status="init"
>
    <div class="form-group-wrapper">
        <div class="form-group">
            <label class="form-label" for="your-name">Név (kötelező)</label>
            <span class="wpcf7-form-control-wrap" data-name="your-name">
                <input
                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                    id="your-name"
                    type="text"
                    name="your-name"
                    value=""
                    size="40"
                    aria-required="true"
                    aria-invalid="false"
                />
            </span>
        </div>
        <div class="form-group">
            <label class="form-label" for="your-email">E-mail (kötelező)</label>
            <span class="wpcf7-form-control-wrap" data-name="your-email">
                <input
                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                    id="your-email"
                    type="email"
                    name="your-email"
                    value=""
                    size="40"
                    aria-required="true"
                    aria-invalid="false"
                />
            </span>
        </div>
        <div class="form-group">
            <label class="form-label" for="your-subject"
                >Tárgy (kötelező)</label
            >
            <span class="wpcf7-form-control-wrap" data-name="your-subject">
                <input
                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                    id="your-subject"
                    type="text"
                    name="your-subject"
                    value=""
                    size="40"
                    aria-required="true"
                    aria-invalid="false"
                />
            </span>
        </div>
        <div class="form-group">
            <label class="form-label" for="your-message"
                >Üzenet (kötelező)</label
            >
            <span class="wpcf7-form-control-wrap" data-name="your-message">
                <textarea
                    class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control"
                    id="your-message"
                    name="your-message"
                    cols="40"
                    rows="10"
                    aria-required="true"
                    aria-invalid="false"
                ></textarea>
            </span>
        </div>
        <div class="form-group">
            <p class="m-block-0">
                Ezt az oldalt reCAPTCHA és a Google védi így a következő
                <a
                    href="https://policies.google.com/privacy"
                    target="_blank"
                    rel="noopener"
                    >adatkezelés</a
                >
                és
                <a
                    href="https://policies.google.com/terms"
                    target="_blank"
                    rel="noopener"
                    >ÁSZF</a
                >
                vonatkozik rá.
            </p>
        </div>
        <div class="form-group">
            <span class="wpcf7-form-control-wrap" data-name="acceptance-784">
                <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                        <label>
                            <input
                                type="checkbox"
                                name="acceptance-784"
                                value="1"
                                aria-invalid="false"
                            />
                            <span class="wpcf7-list-item-label"
                                >Elolvastam és elfogadom az
                                <a href="#" target="_blank"
                                    >adatkezelési irányelveket</a
                                >.</span
                            >
                        </label>
                    </span>
                </span>
            </span>
        </div>
        <div class="form-group form-group--wpcf7-submit">
            <input
                class="wpcf7-form-control has-spinner wpcf7-submit btn btn--primary"
                type="submit"
                value="Küldés"
            />
        </div>
    </div>
</form>
