<header class="header">
    <div class="header__container">
        <div class="header__inner"><a class="header__logo" href="index.html"><img src="../../assets/img/spruce-logo-dark.svg" alt="Spruce CSS" width="140"></a><a class="btn btn--primary" href="https://sprucecss.com/docs/getting-started/introduction">Documentation
            <svg class="icon btn__icon btn__icon--sm" aria-hidden="true" role="img" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                <use xlink:href="#arrow-forward"></use>
            </svg></a></div>
    </div>
</header>
