<div class="intro">
    <div class="container container--narrow">
        <div class="intro__inner">
            <div class="intro__caption">
                <h1 class="intro__title">{{ intro.title }}</h1>
                <p class="intro__description">{{ intro.description }}</p>
            </div>
            <div class="accordion-list accordion-list--boxed">
                {% for card in intro.cards %}
                <div class="accordion-card accordion-card--box">
                    <h3 class="accordion-card__title">{{ card.title }}</h3>
                    <div class="accordion-card__content">
                        <p>{{ card.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
