/* Error: "container-width"
 *   ,
 * 4 |   --container-width: #{config('container-width', $layout)};
 *   |                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src\scss\layout\_container.scss 4:24  @forward
 *   src\scss\layout\_index.scss 1:1       @forward
 *   src\scss\main.scss 2:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: \"container-width\"\a   \2577 \a 4 \2502    --container-width: #{config('container-width', $layout)};\a   \2502                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\scss\\layout\\_container.scss 4:24  @forward\a   src\\scss\\layout\\_index.scss 1:1       @forward\a   src\\scss\\main.scss 2:1                root stylesheet";
}
